﻿@using System.Web.Razor.Parser
@model FizzBuzz.Models.FizzBuzzModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
            @using (Html.BeginForm(null, null, null, FormMethod.Get))
            {
                <h1>Fizz Buzz</h1>
                <div class="form-group">
                    @Html.LabelFor(x => x.Value, new{@class = "form-label"}):
                    @Html.TextBoxFor(x => x.Value, new{@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Value)
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Get Fizz Buzz Items</button>
                </div>
                
                @Html.Partial("_FizzBuzzList", Model)
            }
        </div>
    </div>
</body>
</html>
