﻿@model FizzBuzz.Models.FizzBuzzModel

@if (Model != null && Model.FizzBuzzItems != null)
{
    <div class="form-group">
        <ul>
            @foreach (var item in Model.FizzBuzzItems)
            {
                <li class="@item.Type.ToString().ToLower()">@(item.Value) </li>
            }
        </ul>
    </div>
}